<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algorithm</title>
</head>
<body>
{% if error %}
    {{ error }}
{% endif %}
<form class="" method="POST" action="{% url 'home:algorithm' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="" type="submit">Start</button>
</form>

</body>
</html>